.hero_main{
    background: hsla(217, 21%, 33%, 1);

background: linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -moz-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -webkit-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#425066", endColorstr="#BBC7DC", GradientType=1 );
}