@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Inter:wght@100..900&family=Sixtyfour&display=swap');

html{
padding: 0;
margin: 0;
}

body {
  background: black;
}

.container{
  width: 70vw;
  margin: auto;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* body{
  background: rgb(100,53,17);
  background: radial-gradient(circle, rgba(100,53,17,1) 0%, rgba(0,0,0,1) 100%);
} */
.hero_main{
  background: hsla(217, 21%, 33%, 1);

background: linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -moz-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -webkit-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#425066", endColorstr="#BBC7DC", GradientType=1 );
}

.solana_color{
  color: white;
}

/* .solana_color{
  background-image: linear-gradient(to right top, #9945ff, #0097ff, #00c2ff, #00dede, #14f195);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
} */

.navbarStyle{
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.feature{
  /* background: rgb(100,53,17); */
/* background: radial-gradient(circle, rgba(100,53,17,1) 0%, rgba(0,0,0,1) 100%); */
}
.overlay_feat{
  background: linear-gradient(180deg, rgba(14, 14, 14, 0) 13.87%, rgba(14, 14, 14, 0.663518) 50.23%, #0E0E0E 79.82%);
}

