@tailwind base;
@tailwind components;
@tailwind utilities;

html{
padding: 0;
margin: 0;
}

.hero_main{
  background: hsla(217, 21%, 33%, 1);

background: linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -moz-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

background: -webkit-linear-gradient(315deg, hsla(217, 21%, 33%, 1) 0%, hsla(218, 32%, 80%, 1) 57%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#425066", endColorstr="#BBC7DC", GradientType=1 );
}

.solana_color{
  background-image: linear-gradient(to right top, #9945ff, #0097ff, #00c2ff, #00dede, #14f195);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
  display: inline-block;
}

.navbarStyle{
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.feature{
  background-image: linear-gradient(to bottom, #f1f3f4, #afb0b1, #727172, #393939, #000000);
}